.form {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.form > div {
    width: 50%;
    margin: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
}
.input {
    height: 200px !important;
    padding: 20px;
    border: 0;
    background-color: transparent;
    width: calc(100% - 40px) !important;
}
select.select {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
}
.to-input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    font-family: monospace;
}